@page
@model TaskingBoss.Pages.Projects.ListModel
@{
    ViewData["Title"] = "Projects";
}

@if (Model.Message != null)
{
    <div class="col-12 m-0">
        <div class="alert alert-success" role="alert">
            @Model.Message
        </div>
    </div>
}

<div class="w-100 text-center">
    <h3>@ViewData["Title"]</h3>
    <hr />
</div>

@foreach (var project in Model.Projects)
{
    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@project.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@project.Description</h6>
                <p class="card-text">Users: </p>
                <a asp-page="/ProjectView/Index" asp-route-projectId="@project.ProjectId" class="btn btn-outline-primary btn-sm">Go to Project</a>
            </div>
        </div>
    </div>
}





