@page
@model TaskingBoss.Pages.Projects.ManageUsersModel
@{
    ViewData["Title"] = "Manage project users";
    Layout = "_ProjectViewLayout";
}

    @if (Model.PositiveMessage != null)
    {
        <div class="col-12 m-0">
            <div class="alert alert-success" role="alert">
                @Model.PositiveMessage
            </div>
        </div>
    }

    @if (Model.NegativeMessage != null)
    {
        <div class="col-12 m-0">
            <div class="alert alert-danger" role="alert">
                @Model.NegativeMessage
            </div>
        </div>
    }

    <div class="w-100 text-center">

        <h3>@ViewData["Title"]</h3>
        <hr />

    </div>

    <div class="col-md-8 rounded shadow-sm m-2 p-3">

        <h5>Add user</h5>

        <form method="post">
            <div class="form-group">
                <input type="hidden" name="projectId" value="@Model.Project.ProjectId">
                <input type="email" class="form-control" id="inputEmail" name="searchString" placeholder="Enter user email">
            </div>
            <button type="submit" class="btn btn-outline-primary">Add user</button>
        </form>
        <hr />

        <h5>Existing users</h5>

        @foreach (var user in Model.Users)
        {
            <form class="form-inline" method="post">
                
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext" value="@user.Name">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-outline-danger btn-sm"
                                asp-route-userId="@user.Id"
                                asp-route-projectId="@Model.Project.ProjectId"
                                asp-route-add="false">
                            Remove (Do not work - please don't press)
                        </button>
                    </div>
            </form>
        }

    </div>