<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-page="/ProjectView/Index" asp-route-projectId="@Model.Project.ProjectId">@Model.Project.Title</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link" asp-page="/ProjectView/Backlog/Index" asp-route-projectId="@Model.Project.ProjectId">Backlog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-page="/ProjectView/Sprint/Index" asp-route-projectId="@Model.Project.ProjectId">Sprint overview</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-page="/ProjectView/MyTasks/Index" asp-route-projectId="@Model.Project.ProjectId">My Tasks</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-page="/ProjectView/QA/Index" asp-route-projectId="@Model.Project.ProjectId">QA</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" asp-page="/ProjectView/BossView/Index" asp-route-projectId="@Model.Project.ProjectId">Boss-View</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>