@page
@model TaskingBoss.IndexModel
@{
    Layout = "_OverviewLayout";
    ViewData["Title"] = "Sprint Overview";

    float percentDoneResult = ((float)Model.DoneSP / (float)Model.AllSP) * 100;
    int percentDoneShow = (int)percentDoneResult;
}

    <div class="w-100 text-center">

        <h3>Sprint overview</h3>
        <div class="progress" style="height: 18px;">
            <div class="progress-bar" role="progressbar" style="width: @percentDoneShow%;">Sprint @percentDoneShow% done</div>
        </div>
        <hr />

    </div>

<div class="row p-1">
    <div class="col-lg p-1">

        <h6>Sprint <span class="small">(@Model.SprintTasks.Count() tasks - @Model.SprintSP story points)</span></h6>

        @foreach (var item in Model.SprintTasks)
        {
            <partial name="_OverviewCard" model="item" />
        }

    </div>
    <div class="col-lg p-1">

        <h6>Doing <span class="small">(@Model.DoingTasks.Count() tasks - @Model.DoingSP story points)</span></h6>

        @foreach (var item in Model.DoingTasks)
        {
            <partial name="_OverviewCard" model="item" />
        }

    </div>
    <div class="col-lg p-1">

        <h6>Blocked <span class="small">(@Model.BlockedTasks.Count() tasks - @Model.BlockedSP story points)</span></h6>

        @foreach (var item in Model.BlockedTasks)
        {
            <partial name="_OverviewCard" model="item" />
        }

    </div>
    <div class="col-lg p-1">

        <h6>QA <span class="small">(@Model.QaTasks.Count() tasks - @Model.QaSP story points)</span></h6>

        @foreach (var item in Model.QaTasks)
        {
            <partial name="_OverviewCard" model="item" />
        }
    </div>
    <div class="col-lg p-1">

        <h6>Done <span class="small">(@Model.DoneTasks.Count() tasks - @Model.DoneSP story points)</span></h6>

        @foreach (var item in Model.DoneTasks)
        {
            <partial name="_OverviewCard" model="item" />
        }
    </div>
</div>