@using TaskingBoss.Core
@using TaskingBoss.Core.ViewModels
@model TaskItemUsersViewModel

<div class="card shadow-sm mb-2">
    <div class="card-body p-2">

        <div>
            @if (Model.Task.Priority == TaskPriority.High)
            {
                <span class="badge badge-danger">High priority</span>
            }
            @if (Model.Task.Priority == TaskPriority.Low)
            {
                <span class="badge badge-secondary">Low priority</span>
            }

        </div>

        <div class="w-100">
            <span>@Model.Task.Title</span>
        </div>

        <div class="w-100 mb-1">
            <span class="small">Story points: @Model.Task.StoryPoints</span>
        </div>

        <div>
            @foreach (var user in Model.Users)
            {
                <partial name="_UserBubblePartialView" model="@user" />
            }
        </div>

        <a asp-page="/Tasks/Detail" asp-route-taskId="@Model.Task.TaskItemId" asp-route-projectId="@Model.Task.ProjectIdRoute" class="stretched-link"></a>

    </div>
</div>