@using TaskingBoss.Core
@model TaskItem

    <div class="card">
        <div class="card-body">

            <h5 class="card-title">@Model.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Status</h6>
            <p class="card-text">@Model.Description</p>

            <a class="btn btn-outline-primary btn-sm" asp-page="./Detail" asp-route-taskId="@Model.Id">
                <i class="material-icons md-24">info</i>
            </a>

            <a class="btn btn-outline-primary btn-sm" asp-page="./Edit" asp-route-taskId="@Model.Id">
                <i class="material-icons md-24">edit</i>
            </a>

            <a class="btn btn-outline-danger btn-sm" asp-page="./Delete" asp-route-taskId="@Model.Id">
                <i class="material-icons md-24">delete</i>
            </a>

        </div>
    </div>