@page
@model TaskingBoss.Pages.Tasks.DetailModel
@{
    Layout = "_ProjectViewLayout";
}

@if (Model.Message != null)
{
    <div class="col-12 m-0">
        <div class="alert alert-success" role="alert">
            @Model.Message
        </div>
    </div>
}

<div class="col-md-8 border border-secondary rounded m-2 p-3">

    <h3>@Model.Task.Title</h3>

    <hr />

    <h5>Description:</h5>
    <p>@Model.Task.Description</p>

    <hr />

    <div class="row">
        <div class="col mx-4 text-center">
            <span>Status:</span>
            <h5>@Model.Task.Status</h5>
        </div>
        <div class="col mx-4 text-center">
            <span>Priority:</span>
            <h5>@Model.Task.Priority</h5>
        </div>
        <div class="col mx-4 text-center">
            <span>Story Points:</span>
            <h5>@Model.Task.StoryPoints</h5>
        </div>
    </div>

    <hr />

    <h5>Users:</h5>
    @foreach (var user in Model.TaskUsers)
    {
        <partial name="_UserBubblePartialView" model="@user" />
    }

    <a asp-page="./AddUser" asp-route-taskId="@Model.Task.TaskItemId" asp-route-projectId="@Model.Project.ProjectId">
        <partial name="_UserBubbleEmptyPartialView" />
    </a>

    <hr />

    <h5 class="text-secondary">Activity Log:</h5>

    @foreach (var item in Model.Activity)
    {
        <span class="small text-secondary">@item</span><br />
    }

</div>

<div class="col border border-secondary rounded m-2 p-3">

    <h5>Actions:</h5>
    <a class="btn btn-outline-primary btn-block" data-toggle="collapse" href="#collapse" role="button">Move to</a>

    <div class="collapse" id="collapse">
        <div class="card card-body">

            <form class="form-inline" method="post">

                @foreach (var item in Model.StatusEnums)
                {
                    if (item == Model.Task.Status.ToString())
                    {
                        <button type="submit" class="btn btn-outline-primary btn-sm btn-block disabled">@item (Current)</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-primary btn-sm btn-block" asp-route-taskId="@Model.Task.TaskItemId" asp-route-projectId="@Model.Project.ProjectId" asp-route-taskStatus="@item">@item</button>
                    }
                }

            </form>

        </div>
    </div>

    <hr />

    <a asp-page="./AddUser" asp-route-taskId="@Model.Task.TaskItemId" asp-route-projectId="@Model.Project.ProjectId" class="btn btn-outline-success btn-sm btn-block">Manage users</a>
    <a asp-page="./Edit" asp-route-taskId="@Model.Task.TaskItemId" asp-route-projectId="@Model.Project.ProjectId" class="btn btn-outline-secondary btn-sm btn-block">Edit</a>
    <a asp-page="#" asp-route-taskId="@Model.Task.TaskItemId" class="btn btn-outline-secondary btn-sm btn-block disabled">Copy</a>
    <a asp-page="#" asp-route-taskId="@Model.Task.TaskItemId" class="btn btn-outline-secondary btn-sm btn-block disabled">Archive</a>
    <a asp-page="#" data-toggle="modal" data-target="#shareModal" class="btn btn-outline-secondary btn-sm btn-block">Share</a>

    <hr />

    <a asp-page="./Delete" asp-route-taskId="@Model.Task.TaskItemId" class="btn btn-outline-danger btn-sm btn-block">Delete</a>

</div>

<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Link to this task</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input id="myID" class="form-control-plaintext" type="text" value="@Model.PageUrl" readonly>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>